@font-face {
    font-family: 'Lato-Regular';
    src: url(../assets/Fonts/Lato-Regular.ttf) format('ttf');
  }
  @font-face {
    font-family: 'Lato-Light';
    src: url(../assets/Fonts/Lato-Light.ttf) format('ttf');
  }
  @font-face { 
    font-family: 'Lato-Thin';
    src: url(../assets/Fonts/Lato-Thin.ttf) format('woff');
  } 
  @font-face { 
    font-family: 'Lato-SemiBold';
    src: url(../assets/Fonts/Lato-Bold.ttf) format('woff');
  } 
  @font-face { 
    font-family: 'Lato-Bold';
    src: url(../assets/Fonts/Lato-Black.ttf) format('woff');
  } 
  
  body {
    font-family: 'Lato-Regular';
  }

  h1, h2, h3 {
    font-family: 'Lato-Bold';
  }

  h4, h5, h6 {
    font-family: 'Lato-SemiBold';
  }

  .popText {
    animation: pop-in 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
    opacity: 0;
  }
  
  .subtitlePop {
    animation-delay: 0.6s;
  }
  
  .titlePop {
    animation-delay: 0.9s;
  }
  
  .subtextPop {
    animation-delay: 1.2s;
  }

  .subtext2Pop {
    animation-delay: 1.5s;
  }
  
  .button1Pop {
    animation-delay: 1.8s;
  }


@keyframes pop-in {
    0% {
      opacity: 0;
      transform: translateY(-2rem) scale(0.7);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }